<footer class="footer">

  <div class="footer-left">
    <p class="footer-company-name">Sierra Leone Research Paper -- Jason Yeomans &copy; 2015</p>
  </div>

  <div class="footer-center">
    <div>
    </div>
  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the this website</span> This website was created as a
      visual portion of my IT 304 course research paper.
    </p>
    <h5>Check out the source code for this website on <a href="https://github.com/YeomansIII/it-304">Github</a></h5>
  </div>

</footer>
