<footer class="footer">

  <div class="footer-left">
    <p class="footer-links">
      <a href="index.html">Home</a> -
      <a href="lineup.html">Lineup</a> -
      <a href="dealer.html">Find a Dealer</a> -
      <a href="contact.html">Contact</a> -
      <a href="tools.html">Tools</a> -
      <a href="sitemap.html">Sitemap</a>
    </p>

    <p class="footer-company-name">Sierra Leone Research Paper -- Jason Yeomans &copy; 2015</p>
  </div>

  <div class="footer-center">
    <div>
    </div>
  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the this website</span>
      This website was created as a
    </p>
    <h5>Check out the source code for this website on <a href="https://github.com/YeomansIII/it-304">Github</a></h5>
  </div>

</footer>
