<nav class="nav-wrapper">
  <div class="nav-desktop">
    <ul class="menu">
      <li>
        <a href="#">
          <img class="brand-logo" src="images/logo-small.png" alt="Lucky Motors brand logo"
          />
        </a>
      </li>
      <li><a href="index.html">Home</a></li>
      <li><a href="lineup.html">Lineup</a></li>
      <li><a href="dealer.html">Find a Dealer</a></li>
      <li>
        <a href="#">About Us</a>
        <ul class="hidden">
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="tools.html">Tools</a></li>
          <li><a href="sitemap.html">Sitemap</a></li>
          <li><a href="sources.html">Sources</a></li>
        </ul>
      </li>
      <ul style="float:right">
        <li><a href="#skip">Skip</a></li>
      </ul>
    </ul>
  </div>
  <div class="nav-mobile">
    <div class="navbar-mobile">
      <a href="index.html">
        <img class="brand-logo" src="images/logo-small.png" alt="Lucky Motors brand logo"
        />
      </a>
      <div class="hamburger" href="#menu">
        &#9776;
      </div>
    </div>
    <ul class="mobile-menu" style="display:none">
      <li><a href="index.html">Home</a></li>
      <li><a href="lineup.html">Lineup</a></li>
      <li><a href="dealer.html">Find a Dealer</a></li>
      <li>
        <a href="#">About Us</a>
        <ul class="hidden">
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="tools.html">Tools</a></li>
          <li><a href="sitemap.html">Sitemap</a></li>
          <li><a href="sources.html">Sources</a></li>
        </ul>
      </li>
      <ul>
        <li><a href="#skip">Skip</a></li>
      </ul>
    </ul>
  </div>
</nav>
