<nav class="nav-wrapper">
  <ul id="menu">
    <li>
      <a href="#">
        <img class="brand-logo" src="images/logo-small.png" />
      </a>
    </li>
    <li><a href="index.html">Home</a></li>
    <li><a href="lineup.html">Lineup</a></li>
    <li><a href="dealer.html">Find a Dealer</a></li>
    <li>
      <a href="#">About Us</a>
      <ul class="hidden">
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Tools</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>
    </li>
    <ul style="float:right">
      <li><a href="#skip">Skip</a></li>
    </ul>
  </ul>
</nav>
