<nav class="nav-wrapper">
  <div class="nav-desktop">
    <ul class="menu">
      <li><a href="index.html">Home</a></li>
      <li><a href="history.html">History</a></li>
      <li><a href="govpol.html">Government</a></li>
      <li><a href="commtrans.html">Comm. &amp; Trans.</a></li>
      <li><a href="economy.html">Economy</a></li>
      <li><a href="need.html">Pressing Need</a></li>
      <li><a href="currprojects.html">Current Projects</a></li>
      <li><a href="propprojects.html">Proposed Projects</a></li>
      <li><a href="conculsion.html">Conclusion</a></li>
    </ul>
  </div>
  <div class="nav-mobile">
    <div class="navbar-mobile">
      <div class="hamburger" href="#menu">
        &#9776;
      </div>
    </div>
    <ul class="mobile-menu" style="display:none">
      <li><a href="index.html">Home</a></li>
      <li><a href="history.html">History</a></li>
      <li><a href="govpol.html">Government</a></li>
      <li><a href="commtrans.html">Comm. &amp; Trans.</a></li>
      <li><a href="economy.html">Economy</a></li>
      <li><a href="need.html">Pressing Need</a></li>
      <li><a href="currprojects.html">Current Projects</a></li>
      <li><a href="propprojects.html">Proposed Projects</a></li>
      <li><a href="conculsion.html">Conclusion</a></li>
    </ul>
  </div>
</nav>
